@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

.container {
    margin: 2rem 4rem;
}

.head {
    font-size: 3rem;
    text-transform: uppercase;

}

.styleContainer {
    display: flex;
    width: 100%;
    height: 400px;
    margin: 2rem 0;


}

.imagebar {
    position: relative;
    width: 400px;
    min-width: 300px;



    height: 400px;
    min-width: 300px;




    margin-right: 4rem;
}

.backgrounds {
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.neck {
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;


}

.ears {
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;


}

.nose {
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

}

.mouth {
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;

}

.accessories {
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

.hair {
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;

}

.eyes {
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 7;

}

.legs {
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 8;

}

.stylebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    min-width: 300px;
    justify-content: space-evenly;


}

.namebar {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    padding-bottom: 1rem;
}

.nameStyle,
.stylebtn {
    padding: .5rem 1.5rem;
    border-radius: 100px;
    color: #4361ee;
    text-transform: capitalize;
    font-weight: bold;
    border: 2px solid #4361ee;
    margin: 10px 10px 0px 0px;
    cursor: pointer;

}

.nameStyle:hover,
.stylebtn:hover {
    background-color: #4361ee;
    color: white;
}

.rand,
.download {
    background-color: white;
    color: black;
    padding: .7rem 2rem;
    font-weight: bold;
    margin-right: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.rand:hover,
.download:hover {
    background-color: rgb(114, 223, 24);
    color: white;
}

.randdown {
    margin: auto;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

@media(max-width:800px) {
    .head {
        font-size: 2.5rem;
    }

    .container {
        margin: 1rem 2rem;
    }

    .imagebar {
        width: 300px;
        height: 300px;
        margin-right: 2rem;
    }
}

@media(max-width:700px) {
    .head {
        font-size: 2rem;
    }

    body {
        height: auto
    }

    .styleContainer {
        flex-direction: column;
        height: auto;

    }

    .imagebar {
        margin: auto;
        margin-bottom: 1rem;
    }

    .stylebar {
        margin: auto;
    }

    .namebar {
        margin-top: 1rem;
    }


}

@media(max-width:400px) {
    .head {
        font-size: 1.3rem;
    }

    .randdown {
        width: 200px;
        justify-content: space-around;
    }
}
